<%= render('shared/wrapper', title: "Job messages", illustration_url:  cl_image_tag('report_problem_utwngt'))%>
<div class="messages">
  <div class="message">
    <div class="message-datetime">
      13th April 13:15
    </div>
    <div class="message-content">
      Hey Liam, I’ll be completing your job on Wednesday - could you let me know what time works best for you? Thanks, Miguel
    </div>
  </div>
  <div class="message">
    <div class="message-datetime">
      13th April 13:15
    </div>
    <div class="message-content">
      Sure, 9am works well for me. Can you give me a ring when you’re here?
    </div>
  </div>

  <div class="message-input">
    <%= simple_form_for [@job, Message.new] do |f| %>
      <%= f.input :content, input_html: { placeholder: "Type a message...", autocomplete: 'off'}, as: "citext", label: false %>
    <% end %>

  </div>


</div>
