<div class="user-show-card">
  <h2>Landlord selecting contractors</h2>
  <p><%= @job.category %></p>
  <p><%= @job.description %></p>
  <p>also image thumbnails (maybe clickable to make fullscreen?)</p>
</div>
