<div class="user-show-card">
  <h2>Your feedback</h2>
  <p>Was your issue resolved?</p>
  <button>Yes</button>
  <button>No</button>
  <p>How satisfied were you with the job?</p>
  <p>Some kind of star selector thing</p>
</div>
