<div class="container">
  <div class="user-show-card">
    <% @jobs.each do |job| %>
      <div class="card my-3 shadow-sm rounded">
    <h2 class="m-3">Landlord selecting contractors</h2>
        <div class="card-body">
          <h4 class="card-title"><strong>Category:</strong> <%= job.category %></h4>
          <p class="card-text"><strong>Description:</strong> <%= job.description %></p>
          <p>also image thumbnails (maybe clickable to make fullscreen?)</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
