<%= render 'jobs/user_show_cards/show_card', stage_number: 6 do %>
<p><%= @job.contractor.first_name %> will be completing your job on <%= @job.date.strftime("%e %b %Y") %></p>
<p>They will be in touch shortly to arrange a suitable time.</p>
<% end %>
