<div class="user-show-card">
  <h2 class="m-3">Landlord selecting contractors</h2>
  <div class="card-body">
    <h4 class="card-title"> <%= @job.category %></h4>
    <p class="card-text"> <%= @job.description %></p>
    <p>also image thumbnails (maybe clickable to make fullscreen?)</p>
  </div>
</div>

