<%= render 'jobs/user_show_cards/show_card', stage_number: 1 do %>
  <p><%= @job.description %></p>
  <p><i class="fas fa-tools text-danger mr-2"></i> <%= @job.category.capitalize %></p>
  <% @job.photo_videos.each do |photo_video| %>
    <% if photo_video.stage == @job.current_stage %>
      <%= cl_image_tag photo_video.photo_video, class: " mb-3 w-100", width: 500, crop: :fit %>
    <% end %>
  <% end %>
<% end %>

