<%= render 'jobs/user_show_cards/show_card', stage_number: 5 do %>
  <p>Here are the dates <%= @job.contractor.first_name %> can do.</p>
  <% @job.available_dates.each do |date| %>
    <p>
      <%= date %>
    </p>
  <% end %>
<% end %>
