<%= render 'jobs/user_show_cards/show_card', stage_number: 6 do %>
<p><%= @job.contractor.first_name %> is currently completing your job</p>
<p>Here's his email: <%= @job.contractor.email %></p>
<% end %>
