<div class="user-show-card">
  <h4 class="pb-2"><%= Job.stage_attributes[stage_number][:just_completed] %></h5>
  <%= yield %>
  <p class="text-right mb-0 timestamp"><%= @job.stage_changed_at(stage_number) %></p>
</div>

