<h2>Review</h2>
<p>Please review the following and then Approve and Pay.</p>
<p><%= @job.price %></p>
<p><%= @job.satisfaction %></p>
<p><%= @job.rating %></p>
<p>Clickable invoice thumbnail</p>
<p>Clickable complete job photos</p>
