<h2>Review Quotes</h2>
<p>You've received quotes from contractors. Please review these and select your preferred option.</p>
<p>The selected contractor will then organise a time to do the job directly with the tenant.</p>
