<%= render 'jobs/user_show_cards/show_card', stage_number: 8 do %>
  <p>Tenant rating: <%= @job.rating %> stars</p>
  <p>Work was <%= @job.resolved ? "" : "not" %> completed successfully</p>
<% end %>

