<div class="user-show-card">
  <h2>Review</h2>
  <p>Please review the following and then Approve and Pay.</p>
  <p><%= @job.final_price %></p>
  <p><%= @job.resolved %></p>
  <p><%= @job.rating %></p>
  <p>Clickable invoice thumbnail</p>
  <p>Clickable complete job photos</p>
</div>
