<p><i class="fas fa-pound-sign mr-1"></i> <%= @job.final_price %></p>
<a class="final-job-details btn btn-primary btn-sm mb-3" target="_blank" href="<%= cl_image_path @job.invoice %>"><i class="fas fa-file-pdf mr-1"></i> View PDF</a>
