<h2>Select contractors</h2>
<p>Select contractors that you'd like to collect quotes from.</p>
<p><%= @job.category %></p>
<p><%= @job.description %></p>
<p>also image thumbnails (maybe clickable to make fullscreen?)</p>

