.home-wrapper {
  height: 100vh;
  width: 100%;
  background-position: center; 
  background-size: cover;
  background-image: asset_url('home_banner.png');
  padding: 64px 24px 36px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-title {
  width: 100%;
  h1 {
    color: $white;
    font-size: 42px;
    margin-bottom: 16px;
  }
  p {
    color: $white;
    font-size: 20px;
  }
}

.home-btn-wrapper {
  width: 100%;
}
