.show-hero-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.button-status-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-status-badge {
  background-color: $hot-pink;
  font-size: 12px;
  padding: 8px 16px;
  color: white;
  border-radius: $border-radius;
  font-weight: bold;
  margin: 0;
}

.show-background {
  background-color: $primary;
  padding-bottom: 100px;
}

.show-content {
  border-radius: $border-radius-lg;
  background-color: $white;
  padding: 32px 24px 18px 24px;
  margin: -50px 16px 0 16px;
  position: relative;
  .message-icon {
    position: absolute;
    top: -21px;
    right: 0px;
    background-color: $hot-pink;
    height: 42px;
    width: 42px;
    text-align: center;
    margin: 0;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    line-height: 42px;
  }
}

.show-content-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 8px;
}
.show-content-meta {
  color: $mid-gray;
  font-size: 12px;
  margin-bottom: 32px;
}


.show-stage-top {
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.show-stage-top-date {
  font-size: 9px;
  text-align: right;
  color: $mid-gray;
}

.show-stage-top-check {
  color: $primary;
  font-size: 20px;
  flex-grow: 0;
  text-align: center;
  padding:  0 16px;
  margin-bottom: 0;

}

.show-stage-top-title {
  flex-grow: 1;
  font-size: 15px;
  margin-bottom: 0;
}

.show-stage-content-outer {
  margin-left: 25px;
  border-left: 2px solid $primary;
  padding: 12px;
  &.show-border-dashed {
    border-left-style: dashed;
    border-left-color: $mid-gray;


  }
  &.show-border-none {
    border-left-color: $white;
  }
}

.show-stage-content-inner {
  color: $mid-gray;
  max-height: 0;
  margin-left: 15px;
  font-size: 12px;
  height:auto;
  overflow: hidden;
  &.show-visible {
    transition: max-height 1s ease;
    max-height: 500px;
  }
}

.show-grayed {
  color: $mid-gray;

}

.show-clickable {
  cursor:pointer;
}

.hot-pink {
  color: $hot-pink;
}

.light-grey {
  color: #7C7C7C;
}


