.final-job-details {
  color: $mid-gray;
}

.final-job-details.btn {
    color: white;
}

.payment-field {
  background-color: $hot-pink;
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
  padding: 24px 36px;
}

.payment-field {
  h3 {
    color: white;
  }
}
