<h1 class="text-center">Jobs Index</h1>
<ul>
  <% @jobs.each do |job| %>
  <li>
     <%= link_to job.category, job_path(job) %>
     <%= job.description %>
  </li>
  <% end %>
</ul>


<%= link_to "Send New Request", new_job_path, class: "btn btn-primary" %>




