<%= render('shared/action_page_wrapper', title: "What's the problem, #{current_user.first_name}?", illustration_url:  cl_image_tag('report_problem_utwngt'))%>


<div class="container py-4">
  <form class="simple_form new_job" id="new_job" novalidate="novalidate" enctype="multipart/form-data" action="/jobs" accept-charset="UTF-8" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :category_selected, value="" %>
        <div class="form-group">
          <label class="pb-1"><strong>Please describe the issue</strong></label>
          <textarea class="form-control job_description" rows="3" name="description" placeholder="Briefly describe the issue you're having"></textarea>
        </div>

        <label class="pt-3"><strong>What type of problem is it?</strong></label>
        <div class="form-group options">
            <div class="category-card" data-id="electrical">
                <h4 class="card-title"><i class="fas fa-bolt"></i></h4>
                <p class="text-secondary">Electrical</p>
              </div>
              <div class="category-card" data-id="plumbing">
                    <h4 class="card-title"><i class="fas fa-tint"></i></h4>
                  <p class="text-secondary">Plumbing</p>
              </div>
            <div class="category-card" data-id="handyman">
                <h4 class="card-title"><i class="fas fa-wrench"></i></h4>
                <p class="text-secondary">Handyman</p>
            </div>
            <div class="category-card" data-id="windows">
                <h4 class="card-title"><i class="fas fa-wifi"></i></h4>
                 <p class="text-secondary">Internet</p>
            </div>
            <div class="category-card" data-id="damp">
                <h4 class="card-title"><i class="fas fa-water"></i></h4>
                 <p class="text-secondary">Damp</p>
            </div>
            <div class="category-card" data-id="pests">
                <h4 class="card-title"><i class="fas fa-pastafarianism"></i></h4>
                 <p class="text-secondary">Pests</p>
            </div>
            <div class="category-card" data-id="appliances">
                <h4 class="card-title"><i class="fas fa-tv"></i></h4>
                 <p class="text-secondary">Appliances</p>
            </div>
            <div class="category-card" data-id="locksmith">
                <h4 class="card-title"><i class="fas fa-key"></i></h4>
                 <p class="text-secondary">Locksmith</p>
            </div>
            <div class="category-card" data-id="other">
                <h4 class="card-title"><i class="fas fa-home"></i></h4>
                 <p class="text-secondary">Other</p>
            </div>
        </div>

        <div class="form-group file required job_photo_videos_photo_video">
          <label class="pt-3 pb-1" for="job_photo_videos_photo_video" class="file required"><strong>Please upload a photo or video of the issue</strong>
            <abbr title="required">*</abbr>
          </label>
          <input class="form-control-file file required" multiple="multiple" type="file" name="job[photo_videos][photo_video][]" id="job_photo_videos_photo_video">
        </div>
        <div class="form-group hidden job_photo_videos_photo_video_cache pt-1">
          <input type="hidden" class="form-control hidden" name="job[photo_videos][photo_video_cache]" id="job_photo_videos_photo_video_cache">
        </div>

          <input type="submit" value="Submit" class="btn btn-primary w-100">

</div>
  </form>
