<div class="container py-3">
  <h1>Submit a new job</h1>
  <form class="simple_form new_job" id="new_job" novalidate="novalidate" enctype="multipart/form-data" action="/jobs" accept-charset="UTF-8" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :category_selected, value="" %>
        <label>Select a contractor category:</label>
        <div class="form-group options">
          <div class="row justify-content-around">
            <div class="card my-3 shadow-sm rounded category-card" data-id="electrician">
              <div class="card-body">
                <h4 class="card-title"><i class="fas fa-bolt"></i></h4>
              </div>
              </div>
              <div class="card my-3 shadow-sm rounded category-card" data-id="plumber">
                <div class="card-body">
                  <h4 class="card-title"><i class="fas fa-tint"></i></h4>
                </div>
              </div>
            </div>
          <div class="row justify-content-around">
            <div class="card my-3 shadow-sm rounded category-card" data-id="builder">
              <div class="card-body">
                <h4 class="card-title"><i class="fas fa-wrench"></i></h4>
              </div>
            </div>
            <div class="card my-3 shadow-sm rounded category-card" data-id="other">
              <div class="card-body">
                <h4 class="card-title"><i class="fas fa-home"></i></h4>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Please decribe your issue:</label>
          <textarea class="form-control job_description" rows="3" name="description"></textarea>
        </div>

        <div class="form-group file required job_photo_videos_photo_video">
          <label for="job_photo_videos_photo_video" class="file required">Photo Video
            <abbr title="required">*</abbr>
          </label>
          <input class="form-control-file file required" multiple="multiple" type="file" name="job[photo_videos][photo_video][]" id="job_photo_videos_photo_video">
        </div>
        <div class="form-group hidden job_photo_videos_photo_video_cache">
          <input type="hidden" class="form-control hidden" name="job[photo_videos][photo_video_cache]" id="job_photo_videos_photo_video_cache">
        </div>
        <div class="w-100">
          <input type="submit" value="Submit" class="btn btn-primary w-100">
        </div>
</div>
  </form>
