<div class="container">
  <h2><%= @job.description %></h2>
  <h3>Needs an <%= @job.category %></h3>
  <div class="cards">
    <% @job.current_stage.times do |index| %>
      <%= render("jobs/user_show_cards/#{current_user.user_type}_show_cards/#{current_user.user_type}_card_#{@job.current_stage - index}") %>
    <% end %>
  </div>
</div>

<% if @waiting_for_me %>
  <div class="sticky-btn">
    <%= link_to @current_stage_attributes[:call_to_action], edit_job_path(@job), class: "btn btn-primary" %>
  </div>
<% end %>
