<div class="cloudinary-illustration"> <%= illustration_url %></div>
<div class="action-page-wrapper">
  <div class="action-page-wrapper-content">
    <%= link_to request.referrer, class: "back-button" do %>
      <i class="fa fa-chevron-left"></i>
    <% end %> 
    <h2><%= title %></h2>
  </div>
</div>
