<div class="confirmation">
  <div>
      <%= image_tag "close_icon.png", width: 40, height: 40 %>
    <div class="confirmation-text">
      <h2>Thanks, <%= current_user.first_name %>!</h2>
      <h2>yield to some text about what will happen next</h2>
      <p>We'll let you know when there's an update.</p>
    </div>
  </div>
</div>
