<% if user_signed_in? %>
  <%= cl_image_tag current_user.avatar, class: "avatar", height: 100, width: 100, crop: :fill, id: "navbarToggler"%>
  <div id="navbarDropdown">
    <div class="container">
      <p id="closeButton">&times</p>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
