<div id="wrapper">
  <div class="container pt-5">
    <%= link_to job_path(@job), class: "back-button ml-3" do %>
      <i class="fa fa-chevron-left"></i>
    <% end %>
    <div class="cloudinary-illustration"> <%= illustration_url %></div>
    <h2 class= "ml-3 pt-5"><%= title %></h2>
  </div>
</div>
