<div class="cloudinary-illustration"> <%= illustration_url %></div>
<div id="wrapper">
  <%= link_to request.referrer, class: "back-button" do %>
    <i class="fa fa-chevron-left"></i>
  <% end %> 
  <h2><%= title %></h2>
</div>
