<div id="wrapper">
  <div class="container pt-4">
    <%= link_to jobs_path, class: "back-button" do %>
      <i class="fa fa-chevron-left"></i>
    <% end %>
    <div class="cloudinary-illustration"> <%= illustration_url %></div>
    <h2 class= "ml-3 pt-5"><%= title %></h2>
  </div>
</div>
