<div class="cloudinary-illustration"> <%= illustration_url %></div>
<div id="wrapper">
  <% if @job && @job.id then link = job_path(@job)%>
  <% elsif @job then link = jobs_path %> 
  <% else link = root_path %>
  <% end %>

  <%= link_to link, class: "back-button" do %>
      <i class="fa fa-chevron-left"></i>
    <% end %>
    
  <h2><%= title %></h2>
</div>
