<div id="wrapper">
  <div class="container">
    <%= link_to jobs_path do %>
      <p> <i class="fas fa-chevron-circle-left mt-4 ml-3"></i> </p>
    <% end %>
    <div class="cloudinary-illustration"> <%= illustration_url %></div>
    <h2 class= "ml-3 pt-4"><%= title %></h2>
  </div>
</div>
