<%= render 'shared/navbar' %>

<div class="home-wrapper">
  <div class="home-title">
    <h1>Proper Job</h1>
    <p>The fastest way to get stuff fixed in your home</p>
  </div>

  <div class="home-btn-wrapper">
    <% if user_signed_in? %>
      <%= link_to "View Your Jobs", jobs_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Log In", new_user_session_path, class: "w-100 btn btn-light mb-3" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "w-100 btn btn-outline-light" %>
    <% end %>
  </div>

</div>
