<p><%= @job.property.tenant.first_name %> has agreed on <%= @job.date %></p>
  <p>Address: <%= @job.property.address %></p>
  <p>Once job is complete, please finalise with images of the finished job and your invoice.</p>
