<div class="user-show-card">
  <h2>Quote accepted</h2>
  <p>You've been assigned this job, please provide your available dates and times. The tenant will then select their preferred option.</p>
</div>
