<div class="user-show-card">
  <h2>Quote being reviewed</h2>
  <p>The landlord is reviewing received quotes</p>
  <p><strong>Your quote</strong></p>
  <p>Display quote details where contractor id is current user</p>
</div>

