<%= render 'jobs/user_show_cards/show_card', stage_number: 2 do %>
  <p>Please provide a quote for this job</p>
  <p>Description: <%= @job.description %></p>
  <p>Category: <%= @job.category %></p>
  <p>Photo 1</p>
  <p>Photo 2</p>
<% end %>
