.time-card.contractor-active {
  border-left: 6px $primary solid;
  box-sizing: border-box;
}

.contractor-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
  border-left: 6px transparent solid;
  border-radius: $border-radius-md;
}

.contractor-card img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.contractor-card h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.contractor-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.contractor-card .card-product-infos {
  padding: 16px;
}


.contractor-card.contractor-active {
  border-left: 6px $primary solid;
  cursor: pointer;
  width: 100%;

}

.job-card.contractor-active {
  border-left: 6px #5f9df0 solid;
  box-sizing: border-box;
  cursor: pointer;
}

.confirmation-card.contractor-active {
  border-left: 6px #5f9df0 solid;
  box-sizing: border-box;
  cursor: pointer;
}



.time-card {
  cursor: pointer;
  border-left: 6px rgba(0, 0, 0, 0) solid;
}

.feedback-box {
  margin: 20px auto;
}


.feedback-box {
  margin: 20px auto;
}

.category-card {
  border: 2px transparent solid;
  cursor:pointer;

}

.category-card.contractor-active {
  border: 2px $primary solid;
}

.resolved-card.contractor-active {
border-left: 6px $primary solid;
 box-sizing: border-box;
}

.resolved-card {
 cursor: pointer;
border-left: 6px rgba(0, 0, 0, 0) solid;
}
