.header-job-index {
  position: relative;
  width: 100%;
  color: $white;
  background-color: $primary;
  img {
    position: absolute;
    top: 16px;
    right:16px;
    cursor: pointer;
  }
  #navbarDropdown {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $primary;
    color: $white;
    z-index: 9999;
  }
}
