.incomplete-tab, .completed-tab {
  // border-bottom: 4px solid $blue;
  z-index: 40;
  width: 50%;
}

.line-tab {
  border-top: 4px solid $light-gray;
  position: absolute;
  top: 241px;
  width: 100%;
}

.index-tab {
  border-bottom: 4px solid $light-gray;
  cursor: pointer;
  position: relative;
  color: $mid-gray;
}

.show-tab {
  display: block !important;
}

.tab-info {
  display: none;
}

.index-tabs {
  width: 100%;

}

.index-tab.active-tab {
  border-bottom-color: $blue;
  color: $gray;
}

.notification {
  border: 3px solid $hot-pink;
  border-radius: 50%;
}

.load-progress {

}

.updates {
  background-color: $hot-pink;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  position: absolute;
  top: -4px;
  right: 7px;


  p {
  font-size: 10px;
  line-height: 17px;
  color: white;
  margin-bottom: 0;
  }

}
