.sticky-btn {
  position: fixed;
  bottom: 0;
  width: 375px;
  padding: 16px;
  border-top: 1px solid $light-gray;
  background-color: $white;
  box-shadow: $box-shadow;
  .btn {
    width: 100%;
  }
}
