#wrapper {
  height: 200px;
  background-color: $danger;
  width: 100%;
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
}

#wrapper {
  p {
    color: white;
    text-decoration: none;
    font-size: 30px;
  }
}

#wrapper {
  h2 {
    color: white;
  }
}

#wrapper {
  .cloudinary-illustration img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -21px;
    right: 10px;
  }
}
