#wrapper {
  height: 230px;
  background-color: $danger;
  width: 100%;
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
}

#wrapper {
}

#wrapper {
  h2 {
    color: white;
  }
}

#wrapper {
  .cloudinary-illustration img {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 0px;
    right: 20px;
  }
}
