<div class="container py-5">
  <h1 class ="mb-4">Add a Quote</h1>
  <div class="form-group">
    <%= simple_form_for [@job, @quote] do |f| %>
      <%= f.input :price, class: "form-control" %>
    <div>
      <%= f.input :quote , as: :file, label: "Upload Quote", class: "form-control" %>
    </div>
      <%= f.button :submit, 'Submit', class: "btn btn-primary w-100"%>
  </div>
    <% end %>
</div>
